<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-static-gradient">
    <div class="container kb-mt-11">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up"
                data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image kb-image-medium" _ngcontent-bbw-c2="" src="/assets/img/koban_img/phone.png">
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Descubre Koban!</h2>
                    <p _ngcontent-bbw-c2="">La manera más fácil de manejar tu plata con una app y una
                        tarjeta Visa. #PrimeroEstasVos</p>
                </div>
                <div class="row d-flex" data-aos="fade-up" data-aos-duration="3000">
                    <button class="kb-btn-download" data-toggle="modal" data-target="#modalDownload">Descargar la
                        app</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDownload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div _ngcontent-bbw-c2="">
                                <img src="/assets/img/koban_img/code_qr.png" class="kb-image-small"/>
                        </div>
                    </div>
                    <div _ngcontent-bbw-c2="" class="col-md-6">
                        <div _ngcontent-bbw-c2="">
                            <h5 class="title kb-bl-color">Descubre Koban!</h5>
                            <h5 class="kb-bl-color">Escaneá el QR con la cámara de tu celular y descargá Koban.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>