<div _ngcontent-bbw-c2="" class="section section-content selection-koban">
    <div class="container main-card">
        <h1 style="text-align: center; margin-bottom: 10px; color: #fff;">Contactanos</h1>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Correo</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Correo">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Nombre</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Nombre">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Dirección</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Dirección">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Dirección 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Complemento">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
    </div>
</div>