<div _ngcontent-bbw-c2="" class="section section-content selection-koban">
    <div class="container main-card">
        <h1 style="text-align: center; margin-bottom: 10px; color: #fff;">Contactanos</h1>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName">Nombre</label>
                <input type="text" class="form-control" id="inputName" placeholder="Ingresa tu nombre">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Correo</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Ingresa tu correo">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPhone">Telefono</label>
              <input type="number" class="form-control" id="inputPhone" placeholder="Ingresa tu número teléfono">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Ciudad</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Ingresa tu ciudad">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
    </div>
</div>