<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-gradient">
    <div class="container kb-mt-11">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">No tenemos letra chica <br> ni costos ocultos</h2>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up"
                data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image" _ngcontent-bbw-c2=""
                        src="assets/img/koban_img/gif-lupa.gif">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Descargá la app</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 0</p>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up"
                data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Costo de apertura, mantenimiento y cierre</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 0</p>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Comisión por consumos con la tarjeta</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 0</p>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up"
                data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Transferencias entre usuarios Koban</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 0</p>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Costo de envío</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 0</p>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up"
                data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Costo de renovación</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 0</p>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Cargas en efectivo</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 0</p>
                <p class="kb-tx-center kb-bl-color">Si cargás más de Bs 90 en el mes, se cobrará 2,5% + IVA sobre el importe de carga excedido.</p>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up"
                data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Carga por transferencia</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 0</p>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Costo por reposición</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 0</p>
                <p class="kb-bl-color">la primera y Bs 20 + IVA a partir de la segunda.</p>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <h4 class="title kb-tx-center kb-bl-color">Retiros por cajero automático en Bolivia</h4>
                <p class="kb-tx-center kb-bl-color costs-element">Bs 10</p>
                <p class="kb-bl-color">+ IVA por extracción</p>
            </div>
        </div>
    </div>
</div>