<div _ngcontent-bbw-c2="" class="section section-cards selection-koban">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="">
            <div _ngcontent-bbw-c2="" class="row" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info">
                    <div _ngcontent-bbw-c2="" class="section-description">
                        <h2 _ngcontent-bbw-c2="" class="title"> Como ser parte de Koban</h2>
                    </div>
                </div>
            </div>
            <div class="d-flex w-100 h-100">
                <div class="container">
                    <div class="row row_elements" data-aos="fade-up" data-aos-duration="1000">
                        <div id="contenedor">
                            <div id="barra">
                            </div>
                        </div>
                        <div class="col-md-2 elements" data-aos="fade-up" data-aos-duration="1000">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="title blue-color">01.</h3>
                                </div>
                                <div class="col-md-9 mt-10">
                                    <img src="assets/img/koban_icons/download.png" width="50px" alt="">
                                </div>
                            </div>
                            <p class="blue-color">Descargá la app desde Play Store o App Store en tu celular.</p>
                        </div>
                        <div class="col-md-2 elements" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="title blue-color">02.</h3>
                                </div>
                                <div class="col-md-9 mt-10">
                                    <img src="assets/img/koban_icons/register.png" width="50px" alt="">
                                </div>
                            </div>
                            <p class="blue-color">Completá el registro con tus datos desde la app y obtené tu tarjeta
                                virtual.</p>
                        </div>
                        <div class="col-md-2 elements" data-aos="fade-up" data-aos-duration="2000">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="title blue-color">03.</h3>
                                </div>
                                <div class="col-md-9 mt-10">
                                    <img src="assets/img/koban_icons/money-transport.png" width="50px" alt="">
                                </div>
                            </div>
                            <p class="blue-color">Recibí tu tarjeta Koban dentro de los 15 días hábiles, gratis y en
                                todo
                                el país.</p>
                        </div>
                        <div class="col-md-2 elements" data-aos="fade-up" data-aos-duration="3000">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="title blue-color">04.</h3>
                                </div>
                                <div class="col-md-9 mt-10">
                                    <img src="assets/img/koban_icons/active.png" width="50px" alt="">
                                </div>
                            </div>
                            <p class="blue-color">¡Activá tu tarjeta desde la app y cargá saldo para empezar a usarla!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>