<div _ngcontent-bbw-c2="" class="section section-cards selection-koban">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="">
            <div _ngcontent-bbw-c2="" class="row" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info">
                    <div _ngcontent-bbw-c2="" class="section-description">
                        <h2 _ngcontent-bbw-c2="" class="title"> Obten la tarjeta <br> Koban gratis y sin demoras.</h2>
                        <p _ngcontent-bbw-c2="" class="category"> Nuestro proceso de apertura es totalmente digital y
                            seguro. Sin visitas a una sucursal, sin depósitos, sin papeleos, sin vueltas. </p>
                    </div>
                </div>
            </div>
            <div class="d-flex w-100 h-100">
                <div class="container">
                    <div class="row row_elements">
                        <div class="col-md-2 elements" data-aos="fade-up" data-aos-duration="1000">
                            <img src="https://www.uala.com.ar/assets/images/pagos/icono-recarga-celular.png"
                                width="100px" alt="">
                            <p class="blue-color">Descargá la app desde Play Store o App Store en tu celular.</p>
                        </div>
                        <div class="col-md-2 elements" data-aos="fade-up" data-aos-duration="1500">
                            <img src="https://www.uala.com.ar/assets/images/pagos/icono-recarga-celular.png"
                                width="100px" alt="">
                            <p class="blue-color">Completá el registro con tus datos desde la app y obtené tu tarjeta
                                virtual.</p>
                        </div>
                        <div class="col-md-2 elements" data-aos="fade-up" data-aos-duration="2000">
                            <img src="https://www.uala.com.ar/assets/images/pagos/icono-recarga-SUBE.png" width="100px"
                                alt="">
                            <p class="blue-color">Recibí tu tarjeta Ualá dentro de los 15 días hábiles, gratis y en todo
                                el país.</p>
                        </div>
                        <div class="col-md-2 elements" data-aos="fade-up" data-aos-duration="3000">
                            <img src="https://www.uala.com.ar/assets/images/pagos/icono-recarga-SUBE.png" width="100px"
                                alt="">
                            <p class="blue-color">¡Activá tu tarjeta desde la app y cargá saldo para empezar a usarla!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>