<div class="d-flex flex-column justify-content-center kb-selector-static-gradient">
    <div class="container kb-mt-5">
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title kb-tx-center">Como ser parte de Koban</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="kb-content-process" data-aos="fade-up" data-aos-duration="1000">
                <div id="process"></div>
            </div>
            <div class="col-md-2 kb-elements-white" data-aos="fade-up" data-aos-duration="1000">
                <div class="row">
                        <h3 class="title kb-bl-color kb-ml-1">01.</h3>
                        <img class="kb-icon-center" src="assets/img/koban_icons/download.png" alt="">
                </div>
                <p class="kb-bl-color">Descargá la app desde Play Store o App Store en tu celular.</p>
            </div>
            <div class="col-md-2 kb-elements-white" data-aos="fade-up" data-aos-duration="1000">
                <div class="row">
                        <h3 class="title kb-bl-color kb-ml-1">02.</h3>
                        <img class="kb-icon-center" src="assets/img/koban_icons/register.png" alt="">
                </div>
                <p class="kb-bl-color">Completá el registro con tus datos desde la app y obtené tu tarjeta virtual.</p>
            </div>
            <div class="col-md-2 kb-elements-white" data-aos="fade-up" data-aos-duration="1000">
                <div class="row">
                        <h3 class="title kb-bl-color kb-ml-1">03.</h3>
                        <img class="kb-icon-center" src="assets/img/koban_icons/money-transport.png" alt="">
                </div>
                <p class="kb-bl-color">Recibí tu tarjeta Koban dentro de los 15 días hábiles, gratis y en todo el país.</p>
            </div>
            <div class="col-md-2 kb-elements-white" data-aos="fade-up" data-aos-duration="1000">
                <div class="row">
                        <h3 class="title kb-bl-color kb-ml-1">04.</h3>
                        <img class="kb-icon-center" src="assets/img/koban_icons/active.png" alt="">
                </div>
                <p class="kb-bl-color">¡Activá tu tarjeta desde la app y cargá saldo para empezar a usarla!</p>
            </div>
        </div>
    </div>
</div>