<div _ngcontent-bbw-c2="" class="section section-content selection-koban">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Hacemos que  <br>
                        invertir sea fácil</h2>
                    <h5 _ngcontent-bbw-c2="" class="description">Despertá tu plata a través de Koban y mirá los resultados todos los días.</h5>
                </div>                
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex align-items-center" data-aos="zoom-out-down"
                data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container">
                    <img
                        _ngcontent-bbw-c2="" style="width: 400px !important; border-radius: 20px;"
                        src="assets/img/koban_img/investments-page.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row content">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="assets/img/koban_img/investments-page-1.jpeg"
                      ></div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-lg-6 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h2 _ngcontent-bbw-c2="" class="title blue-color">Tené el control de tu plata</h2>   
                    </div>       
                    <div class="row content">
                        <div class="col-lg-2">
                            <img src="https://www.uala.com.ar/assets/images/inversiones/icono-inversiones.png" width="50px" alt="">
                        </div>          
                        <div class="col-lg-9 content">
                            <p class="description blue-color">Invertí y liberá tu plata al instante con un solo click.</p>
                        </div>
                    </div>
                    <div class="row content">
                        <div class="col-lg-2">
                            <img src="https://www.uala.com.ar/assets/images/inversiones/icono-resultados.png" width="50px" alt="">
                        </div>          
                        <div class="col-lg-9">
                            <p class="description blue-color">Desde $1 y sin límites de inversión.</p>
                        </div>
                    </div>
                    <div class="row content">
                        <div class="col-lg-2">
                            <img src="https://www.uala.com.ar/assets/images/tarjeta/Icono%20contactless.png" width="50px" alt="">
                        </div>          
                        <div class="col-lg-9">
                            <p class="description blue-color">Conocé los resultados de tu inversión todos los días desde la app.</p>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>