.wrap {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.text-left {
    font-size: 70px !important;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.cls_span {
    font-size: 40px;
    margin-top: -10px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.text-body {
    font-size: 13px;
    color: #ffffff !important;
    margin-top: 10px;
}

.cls_input {
    margin-top: 55px;
}

.btn-info {
    background-color: #0685ed !important;
    border-color: #0685ed;
}


#banner{
    width: auto;
    height:  auto;
    position: absolute;
}