<div class="d-flex flex-column justify-content-center w-100 h-100 selector">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Tu seguridad es lo <br> más importante</h2>
                    <h6 _ngcontent-bbw-c2="" class="title">Seguí estos consejos para operar de forma segura con Koban.
                    </h6>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex" data-aos="zoom-out-down" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img
                        class="center" _ngcontent-bbw-c2="" width="400px"
                        src="assets/img/koban_img/security-page.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="m-d expand-list">
    <li data-md-content="200" class="elements li-element">
        <img src="	https://www.uala.com.ar/assets/images/seguridad/1.png" style="margin-left: 20px;" width="80rem" alt="">
        <label name="tab" for="tab1" tabindex="-1" class="tab_lab green-color" role="tab">Seguridad de tu claves</label>
        <input type="checkbox" checked class="tab" id="tab1" tabindex="0" />
        <span class="open-close-icon">
            <svg aria-hidden="true" class="transform -rotate-90" data-reactid="266" fill="none" height="24"
                stroke="#3E6BFD" stroke-width="3" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </span>
        <div class="content">
            <div >
                <div>
                    <p class="blue-color">Las claves que usás para operar en Ualá son datos confidenciales. Nunca las compartas con nadie, incluso si parece que te las pide Ualá. Tampoco muestres los números que están atrás de la tarjeta.</p>
                    <p class="blue-color">Cuando crees o modifiques tus claves, evitá usar información personal que pueda ser fácil de adivinar (fecha de nacimiento, número de documento u otra información similar).</p>
                    <p class="blue-color">Si olvidaste tu clave de inicio de sesión y seguiste los pasos para recuperarla, no compartas con nadie los códigos que te enviamos para resetearla.</p>
                </div>
            </div>
        </div>
    </li>
    <li data-md-content="200" class="elements li-element">
        <img src="https://www.uala.com.ar/assets/images/seguridad/2.png" style="margin-left: 20px;" width="80rem" alt="">
        <label name="tab" for="tab2" tabindex="-1" class="tab_lab green-color" role="tab">Seguridad de tu dispositivo</label>
        <input type="checkbox" checked class="tab" id="tab2" tabindex="0" />
        <span class="open-close-icon">
            <svg aria-hidden="true" class="transform -rotate-90" data-reactid="266" fill="none" height="24"
                stroke="#3E6BFD" stroke-width="3" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </span>
        <div class="content">
            <div >
                <div>
                    <p class="blue-color">Bloqueá el acceso a tu celular con un código de bloqueo, patrón o con algún mecanismo de
                        biometría (cara, huella dactilar, etc).</p>
                    <p class="blue-color">Actualizá regularmente tus aplicaciones y sistema operativo de tu celular para tener las últimas
                        actualizaciones de seguridad.</p>
                    <p class="blue-color">Nunca instales aplicaciones por fuera de Play Store o App Store, no se pueden garantizar que sean
                        legítimas.</p>
                </div>
            </div>
        </div>
    </li>
    <li data-md-content="200" class="elements li-element">
        <img src="https://www.uala.com.ar/assets/images/seguridad/4.png" style="margin-left: 20px;" width="80rem" alt="">
        <label name="tab" for="tab3" tabindex="-1" class="tab_lab green-color" role="tab">Seguridad en tus operaciones</label>
        <input type="checkbox" checked class="tab" id="tab3" tabindex="0" />
        <span class="open-close-icon">
            <svg aria-hidden="true" class="transform -rotate-90" data-reactid="266" fill="none" height="24"
                stroke="#3E6BFD" stroke-width="3" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </span>
        <div class="content">
            <div >
                <div>
                    <p class="blue-color">Desconfiá de toda comunicación que contenga links sospechosos y/o que te pida las claves de tu Ualá o cualquier otra información confidencial para darte un beneficio a cambio.</p>
                    <p class="blue-color">Nuestra casilla oficial de mail es hola@Koban.com.ar y nuestras redes sociales @Koban_arg (chequeá el tilde azul para comprobar que sea la cuenta oficial). Nunca te vamos a contactar por otro medio.</p>
                    <p class="blue-color">Cuando compres online, verificá que la dirección de la página web sea legítima y que se trate de un sitio seguro.</p>
                    <p class="blue-color">Si comprás un producto o servicio a otra persona, asegurate de que todo sea legítimo y confiable. Leé las experiencias de otros compradores. Recordá que Ualá es un medio de pago y no es responsable por las transacciones entre partes.</p>
                    <p class="blue-color">Si tenés alguna duda o sospecha antes o después de haber realizado alguna operación escribinos por el chat de la app o por mail a hola@Koban.com.ar para que podamos ayudarte.</p>
                </div>
            </div>
        </div>
    </li>
</ul>