<div _ngcontent-bbw-c2="" class="section section-content selection-koban">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Pagá con QR <br>
                        donde quieras</h2>
                    <h5 _ngcontent-bbw-c2="" class="description">En cualquier comercio que tenga QR, escaneá con Koban y
                        pagá con la plata que tengas en la cuenta.</h5>
                </div>
                <div class="row" style="margin: 20px;" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-md-1 steps">
                        1
                    </div>
                    <div class="col-md-10 steps_text">
                        Entrás en el menú “Más” de la app.
                    </div>
                </div>
                <div class="row" style="margin: 20px;" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-md-1 steps">
                        2
                    </div>
                    <div class="col-md-11 steps_text">
                        Elegís la opción “Pagar con QR”.
                    </div>
                </div>
                <div class="row" style="margin: 20px;" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-md-1 steps">
                        3
                    </div>
                    <div class="col-md-11 steps_text">
                        Escaneás el código del comercio en donde estés, y ¡listo!
                    </div>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex align-items-center" data-aos="zoom-out-down"
                data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img
                        _ngcontent-bbw-c2="" class="center"
                        src="assets/img/koban_img/qr-page.jpeg">
                </div>
            </div>
        </div>

    </div>
</div>
<div _ngcontent-bbw-c2="" class="section section-content section-card">
    <div class="container">
        <div class="row elements">
            <div _ngcontent-bbw-c2="" class="col-md-2 inner-img">
                <img src="https://www.uala.com.ar/assets/images/cardImages/uala-bis.png" width="170px" alt="">
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-10" data-aos="fade-up"
                data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info" data-aos-duration="2000">
                    <div _ngcontent-bbw-c2="" class="description">
                        <h2 _ngcontent-bbw-c2="" class="info-title blue-color"> Pagá con código Qr</h2>
                        <p _ngcontent-bbw-c2="" class="blue-color">Sí el comercio donde querés comprar tiene QR, puedes escanearlo desde Koban. No importa el color, el Qr es uno solo y es para tod@s. ¡Pagá desde tu celular! Fácil, rápido y seguro. </p>
                    </div>                   
                </div>
            </div>
        </div>

    </div>
</div>
<div _ngcontent-bbw-c2="" class="section section-content section-card">
    <h1 class="info-title blue-color" style="text-align: center;">
       ¿Cómo pago con QR?</h1>
    <div _ngcontent-bbw-c2="" class="container">     
        <div class="d-flex flex-column justify-content-center w-100 h-100">
            <div class="container">
                <div class="row row_elements justify-content-center" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-md-3 elements green-color">
                        <img src="https://www.uala.com.ar/assets/images/cardImages/inversiones.png" width="100px" alt="">
                        <p class="blue-color">Descarga la app de Koban y elige la opción Código QR.</p>
                    </div>
                    <div class="col-md-3 elements green-color">
                        <img src="https://www.uala.com.ar/assets/images/pagos/icono-pago-facturas.png" width="100px" alt="">
                        <p class="blue-color">Escanea el código QR de tu marca favorita.</p>
                    </div>
                    <div class="col-md-3 elements green-color">
                        <img src="https://www.uala.com.ar/assets/images/pagos/icono-recarga-SUBE.png" width="100px" alt="">
                        <p class="blue-color">Paga como quieras, tarjeta de crédito, tarjeta débito con CVV o dinero en cuenta de Mercado Pago. ¡Y listo!</p>
                    </div>
                </div>
            </div>
        </div>          
    </div>
</div>