<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-gradient">
    <div class="container kb-mt-11">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Pagá con QR <br> donde quieras</h2>
                    <p _ngcontent-bbw-c2="" class="title">En cualquier comercio que tenga QR, escaneá con Koban y
                        pagá con la plata que tengas en la cuenta.</p>
                </div>
                <div class="row" style="margin: 20px;" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-md-1 kb-steps">
                        1
                    </div>
                    <div class="col-md-10 kb-steps_text">
                        Entrás en el menú “Más” de la app.
                    </div>
                </div>
                <div class="row" style="margin: 20px;" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-md-1 kb-steps">
                        2
                    </div>
                    <div class="col-md-11 kb-steps_text">
                        Elegís la opción “Pagar con QR”.
                    </div>
                </div>
                <div class="row" style="margin: 20px;" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-md-1 kb-steps">
                        3
                    </div>
                    <div class="col-md-11 kb-steps_text">
                        Escaneás el código del comercio en donde estés, y ¡listo!
                    </div>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image" _ngcontent-bbw-c2="" src="assets/img/koban_img/qr-page.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
<div _ngcontent-bbw-c2="" class="section section-content kb-selector-white" data-aos="fade-up"
data-aos-duration="3000">
    <div class="container">
        <div class="row kb-elements">
            <div _ngcontent-bbw-c2="" class="col-md-2 kb-inner-img">
                <img src="assets/img/koban_icons/pay-qr.png" width="130px" alt="">
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-10" >
                <div _ngcontent-bbw-c2="" class="info">
                    <div _ngcontent-bbw-c2="" class="description">
                        <h2 _ngcontent-bbw-c2="" class="info-title kb-bl-color"> Pagá con código QR</h2>
                        <p _ngcontent-bbw-c2="" class="kb-bl-color">Sí el comercio donde querés comprar tiene QR, puedes escanearlo desde Koban. No importa el color, el QR es uno solo y es para tod@s. ¡Pagá desde tu celular! Fácil, rápido y seguro. </p>
                    </div>                   
                </div>
            </div>
        </div>

    </div>
</div>