<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-gradient">
    <div class="container kb-mt-11">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Sacá plata en todo el <br> país</h2>
                    <p _ngcontent-bbw-c2="" class="title">Podés extraer efectivo en cualquier sucursal de <br> BMSC 
                        o en cajeros de la Enlace o Linkser.</p>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image" _ngcontent-bbw-c2="" src="assets/img/koban_img/cashout.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="container">
        <div class="row kb-mt-5 justify-content-center">
            <div class="col-md-3 kb-elements" data-aos="fade-up"
            data-aos-duration="3000">
                <img src="assets/img/koban_icons/cashout.png"
                    width="100px" alt="">
                <h5 class="title kb-bl-color">Red Enlace o Linkser</h5>
                <p class="kb-bl-color">Podes extraer efectivo en cualquier cajero Red Enlace o Linkser.</p>
                <img src="assets/img/koban_img/red_enlace.png" width="80px" style="margin-right: 50px;" alt="">
                <img src="assets/img/koban_img/linkser.png" width="80px" alt="">
            </div>
            <div class="col-md-3 kb-elements" data-aos="fade-up"
            data-aos-duration="3000">
                <img src="assets/img/koban_icons/save-money.png"
                    width="100px" alt="">
                <h5 class="title kb-bl-color">Extraer en BMSC</h5>
                <p class="kb-bl-color">Para extraer plata en una sucursal del Banco Mercantil Santa Cruz, primero necesitás generar un código de extracción desde la sección “Tarjeta” de la app.</p>
                <br>
                <img src="assets/img/koban_img/bmsc.png" width="150px" alt="">
            </div>
            <div class="col-md-3 kb-elements" data-aos="fade-up"
            data-aos-duration="3000">
                <img src="assets/img/koban_icons/savings.png" width="100px" alt="">
                <h5 class="title kb-bl-color">Montos de extracción</h5>
                <p class="kb-bl-color">1.000 Bs por día.</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div _ngcontent-bbw-c2="" class="row">           
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title kb-bl-color">Dónde retirar efectivo</h2>
                    <p _ngcontent-bbw-c2="" class="category kb-bl-color">Contamos con una red extensa para poder retirar tu dinero sin costo.</p>
                </div>
            </div>           
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image kb-image-medium" _ngcontent-bbw-c2="" src="assets/img/koban_img/cashout-sucursals.png">
                </div>
            </div>
        </div>
    </div>
</div>