<div class="d-flex flex-column justify-content-center w-100 h-100 selector">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Sacá plata en todo el <br> país</h2>
                    <h6 _ngcontent-bbw-c2="" class="title">Podés extraer efectivo en cualquier sucursal de <br> Rapipago
                        o en cajeros de la red Link o Banelco.</h6>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex" data-aos="zoom-out-down" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img
                        class="center" _ngcontent-bbw-c2="" width="450px"
                        src="https://www.uala.com.ar/_next/image?url=%2Fassets%2Fimages%2Fextracciones%2Fextracciones-uala.jpg&w=1920&q=75">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="container">
        <div class="row row_elements justify-content-center" style="flex-wrap:nowrap" data-aos="fade-up"
            data-aos-duration="3000">
            <div class="col-md-4 elements green-color">
                <img src="https://www.uala.com.ar/assets/images/extracciones/Icono-extracciones-cajero.png"
                    width="100px" alt="">
                <h5>Red Link o Banelco</h5>
                <hr>
                <p class="blue-color">Para extraer plata en cualquier cajero, primero necesitás el PIN. Una clave de 4
                    dígitos que generás desde la sección “Tarjeta” de la app.</p>
                <img src="https://www.uala.com.ar/assets/images/extracciones/red-link%201.png" width="80px" alt="">
            </div>
            <div class="col-md-4 elements green-color">
                <img src="https://www.uala.com.ar/assets/images/extracciones/Icono-extracciones-cajero.png"
                    width="100px" alt="">
                <h5>Extraer en Rapipago</h5>
                <hr>
                <p class="blue-color">Para extraer plata en una sucursal de Rapipago, primero necesitás generar un
                    código de extracción desde la sección “Tarjeta” de la app.</p>
                <br>
                <img src="https://www.uala.com.ar/assets/images/extracciones/rappipago.png" width="150px" alt="">
            </div>
            <div class="col-md-4 elements green-color">
                <img src="https://www.uala.com.ar/assets/images/transferencias/SPEI%202.png" width="100px" alt="">
                <h5>Montos de extracción</h5>
                <hr>
                <p class="blue-color">Red Link: $8.500 cada 24hs. Banelco: $8.500 cada 24hs. Rapipago: Hasta dos
                    extracciones de $15.000 por día y hasta 8 extracciones por mes.</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="container">
        <div class="row row_elements justify-content-center" style="flex-wrap:nowrap; margin-top:30px;" data-aos="fade-up"
            data-aos-duration="3000">
            <div _ngcontent-bbw-c2="" class="col-md-6" style="margin-top: 20px;">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title green-color">Dónde retirar efectivo</h2>
                    <h6 _ngcontent-bbw-c2="" class="title blue-color">Podés retirar desde cualquier cajero automático de la red
                        Link o Banelco y en las sucursales de Rapipago de todo el país.</h6>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"
                            src="https://maps.google.com/maps?width=300&amp;height=300&amp;hl=en&amp;q=bancolombia&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
                            href="https://www.fridaynightfunkin.net/friday-night-funkin-mods-fnf-play-online/">FNF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>