<div class="d-flex flex-column justify-content-center w-100 h-100 main-card">
    <div class="container">
        <div class="row justify-content-center" style="text-align: center; flex-direction:column;" data-aos="fade-up"
        data-aos-duration="3000">
            <h2 _ngcontent-bbw-c2="" class="title blue-color">Todas tus finanzas desde un mismo lugar</h2>
        </div>
        <div class="row row_elements justify-content-center">
            <div class="col-md-5 elements" data-aos="fade-up"
            data-aos-duration="3000">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/koban_icons/billpayment.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3 class="blue-color fw">Sin comisiones</h3> <br>
                            <p class="blue-color">Podés usar Koban totalmente gratis. Sin costos de apertura, mantenimiento o cierre.</p>
                        </div>                        
                    </div>
                </div>                
            </div>
            <div class="col-md-5 elements" data-aos="fade-up"
            data-aos-duration="3000">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/koban_icons/document.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3 class="blue-color fw">Sin letra chica</h3> <br>
                            <p class="blue-color">Tranquilidad de saber que todas las operaciones que hagas, están bajo tu control.</p>
                        </div>                        
                    </div>
                </div>                
            </div>
            <div class="col-md-5 elements" data-aos="fade-up"
            data-aos-duration="3000">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/koban_icons/search.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3 class="blue-color fw">Sin costos ocultos</h3> <br>
                            <p class="blue-color">No tenemos costos ocultos ni sorpresas en el manejo de tu cuenta. </p>
                        </div>                        
                    </div>
                </div>                
            </div>
            <div class="col-md-5 elements" data-aos="fade-up"
            data-aos-duration="3000">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/koban_icons/company.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3 class="blue-color fw">Sin sucursales</h3> <br>
                            <p class="blue-color">Todo a través de la app 100% online. Ahorrá tiempo y comunicate por chat desde donde quieras.</p>
                        </div>                        
                    </div>
                </div>                
            </div>               
        </div>
    </div>
</div>


