<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title kb-tx-center kb-bl-color">Cargá tu Koban gratis. Es simple y rápido.</h2>
            </div>
        </div>
        <div _ngcontent-bbw-c2="" class="row justify-content-center">
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/koban_icons/billpayment.png" width="80px" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="title kb-bl-color">Sin comisiones</h4>
                        <p class="kb-bl-color">Podés usar Koban totalmente gratis. Sin costos de apertura, mantenimiento o cierre.</p>
                    </div>                        
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/koban_icons/document.png" width="80px" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="title kb-bl-color">Sin letra chica</h4>
                        <p class="kb-bl-color">Tranquilidad de saber que todas las operaciones que hagas, están bajo tu control.</p>
                    </div>                        
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/koban_icons/search.png" width="80px" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="title kb-bl-color">Sin costos ocultos</h4>
                        <p class="kb-bl-color">No tenemos costos ocultos ni sorpresas en el manejo de tu cuenta.</p>
                    </div>                        
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/koban_icons/company.png" width="80px" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="title kb-bl-color">Sin sucursales</h4>
                        <p class="kb-bl-color">Todo a través de la app 100% online. Ahorrá tiempo y comunicate por chat desde donde quieras.</p>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>