<div class="d-flex flex-column justify-content-center w-100 h-100 selector">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Todos tus pagos <br> en un solo lugar</h2>
                    <p _ngcontent-bbw-c2="" class="title">Recargá tus servicios prepagos, pagá tus facturas sin moverte de tu casa.</p>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex" data-aos="zoom-out-down" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img
                        class="center" _ngcontent-bbw-c2="" width="450px"
                        src="assets/img/koban_img/billpayment-page.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="container">
        <div class="row row_elements justify-content-center" data-aos="fade-up"
            data-aos-duration="3000">
            <div class="col-md-3 elements blue-color">
                <img src="assets/img/koban_icons/mobile-money.png" width="80px" alt="">
                <h5 class="title blue-color">Recargá tu celular o TV</h5>
                <p class="blue-color">Usá tus servicios prepagos sin límites. Recargá saldo en tu celular o TV prepaga
                    desde la app y se acredita en el acto.</p>
            </div>
            <div class="col-md-3 elements blue-color">
                <img src="assets/img/koban_icons/billpayment.png" width="80" alt="">
                <h5 class="title blue-color">Pagá tus facturas</h5>
                <p class="blue-color">Hay más de 4.000 servicios disponibles cuando quieras. Podés escanear la factura o
                    buscar por rubro o empresa.</p>
            </div>           
        </div>
    </div>
</div>


