.section-card {
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 27%, rgba(0,244,152,1) 68%);
}
.icon {
    color: #fff !important;
}
.info-title {
    font-weight: bold;
}
.main-card {
    margin-top: 10%;
}
.category,
.description {
    color: #ffffff;
}
.blue-color {
    color: #0685ed !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.body-card {
    background-color: #fff;
}
