<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">            
            <div _ngcontent-bbw-c2="" class="col-lg-5 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h2 _ngcontent-bbw-c2="" class="title blue-color">Accede a tu dinero <br>
                            Donde quiera que estés</h2>
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">Una tarjeta Koban es su pasaporte a la libertad financiera. Puede acceder al dinero de la cuenta de su tarjeta de débito Koban en la tienda, en línea o en cajeros automáticos en todo el mundo, y obtendrá los tipos de cambio de gran valor de Mastercard cuando gaste en el extranjero.</h5>
                    </div>                 
                </div>               
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="assets/img/koban_img/cash_access.png"
                      ></div>
            </div>
        </div>
    </div>
</div>

<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row"> 
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="assets/img/koban_img/cash_control.png"
                      ></div>
            </div>           
            <div _ngcontent-bbw-c2="" class="col-lg-4 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h2 _ngcontent-bbw-c2="" class="title blue-color">Controla tu dinero </h2>                        
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">Manténgase al tanto de sus gastos y sepa exactamente a dónde va su dinero.</h5>
                    </div>                 
                </div>               
            </div>           
        </div>
    </div>
</div>

<div _ngcontent-bbw-c2="" class="section section-responsive selection-koban">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">                      
            <div _ngcontent-bbw-c2="" class="col-lg-5 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h2 _ngcontent-bbw-c2="" class="title blue-color">Recibe alertas de <br> transacciones detalladas</h2>                        
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">Con una lista de transacciones categorizadas, vea cuándo, dónde y cuánto ha gastado. Recibe notificaciones instantáneas cada vez que compres.</h5>
                    </div>                 
                </div>               
            </div>  
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="https://images.ctfassets.net/96dxy75w1gjr/656i0X1bGY2QuykabCcJxl/0078481691b2013afa0df6f01e80c4f6/Account_GBP__Language_EN.png?w=1410&fm=webp"
                      ></div>
            </div>          
        </div>
    </div>
</div>