
.section-card {
    background: #01ea9f;
}
.icon {
    color: #fff !important;
}
.info-title {
    font-weight: bold;
}
.main-card {
    margin-top: 10%;
}
.category,
.description {
    color: #ffffff;
}
.blue-color {
    color: #0685ed !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.body-card {
    background-color: #fff;
}
