<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title kb-bl-color">Accede a tu dinero <br> Donde quiera que estés</h2>
                    <p _ngcontent-bbw-c2="" class="category kb-bl-color">Una tarjeta Koban es su pasaporte a la libertad financiera. Puede acceder al dinero de la cuenta de su tarjeta de débito Koban en la tienda, en línea o en cajeros automáticos en todo el mundo, y obtendrá los tipos de cambio de gran valor de Mastercard cuando gaste en el extranjero.</p>
                </div>
            </div>  
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image kb-image-medium" _ngcontent-bbw-c2="" src="assets/img/koban_img/cash_access.png">
                </div>
            </div>         
        </div>
    </div>
</div>

<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image" _ngcontent-bbw-c2="" src="assets/img/koban_img/cash_control.png">
                </div>
            </div>  
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title kb-bl-color">Controla tu dinero</h2>
                    <p _ngcontent-bbw-c2="" class="category kb-bl-color">Manténgase al tanto de sus gastos y sepa exactamente a dónde va su dinero.</p>
                </div>
            </div>                     
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title kb-bl-color">Recibe alertas de <br> transacciones detalladas</h2>
                    <p _ngcontent-bbw-c2="" class="category kb-bl-color">Con una lista de transacciones categorizadas, vea cuándo, dónde y cuánto ha gastado. Recibe notificaciones instantáneas cada vez que compres.</p>
                </div>
            </div>  
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image" _ngcontent-bbw-c2="" src="https://images.ctfassets.net/96dxy75w1gjr/656i0X1bGY2QuykabCcJxl/0078481691b2013afa0df6f01e80c4f6/Account_GBP__Language_EN.png?w=1410&fm=webp">
                </div>
            </div>         
        </div>
    </div>
</div>
