<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title kb-bl-color">Atención 100% online</h2>
                    <p class="description kb-bl-color">Si tenés dudas, ¡preguntanos a nosotr@s!</p>
                    <p class="description kb-bl-color">Si sos usuari@ de Koban escribinos por el chat de la app.</p>
                    <p class="description kb-bl-color">Si todavía no sos parte de Koban, nos podés escribir por mail a
                        hola@koban.com.bo o por nuestras redes sociales.</p>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up"
                data-aos-duration="3000">
                    <img class="kb-image kb-image-medium" _ngcontent-bbw-c2=""
                        src="https://colombiafintech.co/static/uploads/XURUX5PVWNET3FL7YFQ77RB6VM.jpeg">
            </div>
        </div>
    </div>
</div>