<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div class="row">
            <h1 class="title kb-bl-color">Mirá todo lo que <br> podés hacer con Koban</h1>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 kb-inner-img kb-menu" data-animation="center" data-aos="fade-up"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <a [routerLink]="['/card-page']">
                        <h4 class="title kb-bl-color">Tarjeta</h4>
                        <p class="kb-bl-color">Comprá en cualquier comercio o página web del mundo que acepte
                            Mastercard.</p>
                        <img class="kb-icon" src="assets/img/koban_icons/credit-card.png" alt="">
                    </a>
                </div>
                <div class="col-md-5 kb-inner-img kb-menu" data-animation="center" data-aos="fade-up"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <a [routerLink]="['/qr-page']">
                        <h4 class="title kb-bl-color">QR</h4>
                        <p class="kb-bl-color">En cualquier comercio que tenga QR, escaneá con Koban y pagá con la
                            plata que tengas en la cuenta.</p>
                        <img class="kb-icon" src="assets/img/koban_icons/qr-code.png" alt="">
                    </a>
                </div>
                <div class="col-md-5 kb-inner-img kb-menu" data-animation="center" data-aos="fade-up"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <a [routerLink]="['/billpayment-page']">
                        <h4 class="title kb-bl-color">Pagos</h4>
                        <p class="kb-bl-color">Recargá tus servicios prepagos, pagá tus facturas sin moverte de tu
                            casa.</p>
                        <img class="kb-icon" src="assets/img/koban_icons/billpayment.png" alt="">
                    </a>
                </div>
                <div class="col-md-5 kb-inner-img kb-menu" data-animation="center" data-aos="fade-up"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <a [routerLink]="['/transfer-page']">
                        <h4 class="title kb-bl-color">Transferencias</h4>
                        <p class="kb-bl-color">Enviá y recibí plata desde cualquier cuenta bancaria y/o virtual,
                            gratis y en el acto.</p>
                        <img class="kb-icon" src="assets/img/koban_icons/transfer.png" alt="">
                    </a>
                </div>
                <div class="col-md-5 kb-inner-img kb-menu" data-animation="center" data-aos="fade-up"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <a [routerLink]="['/transfer-page']">
                        <h4 class="title kb-bl-color">Seguridad</h4>
                        <p class="kb-bl-color">Seguí estos consejos para operar de forma segura con Koban.</p>
                        <img class="kb-icon" src="assets/img/koban_icons/internet-security.png" alt="">
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 kb-inner-img kb-menu" data-animation="center" data-aos="fade-up"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <a [routerLink]="['/loans-page']">
                        <div class="row">
                            <img class="kb-icon kb-icon-left" src="assets/img/koban_icons/loan.png" alt="">
                        </div>
                        <h4 class="title kb-bl-color">Prestámos</h4>
                        <p class="kb-bl-color">Podés extraer efectivo en cualquier sucursal de BMSC o en cajeros de
                            la red Enlace o Linkser.</p>
                    </a>
                </div>
                <div class="col-md-3 kb-inner-img kb-menu" data-animation="center" data-aos="fade-up"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <a [routerLink]="['/withdrawals-page']">
                        <div class="row">
                            <img class="kb-icon kb-icon-left" src="assets/img/koban_icons/cashout.png" alt="">
                        </div>
                        <h4 class="title kb-bl-color">Retiros</h4>
                        <p class="kb-bl-color">Podés extraer efectivo en cualquier sucursal de BMSC o en cajeros de
                            la red Enlace o Linkser.</p>
                    </a>
                </div>
                <div class="col-md-3 kb-inner-img kb-menu" data-animation="center" data-aos="fade-up"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <a [routerLink]="['/budgeting-page']">
                        <div class="row">
                            <img class="kb-icon kb-icon-left" src="assets/img/koban_icons/pie-chart.png" alt="">
                        </div>
                        <h4 class="title kb-bl-color">Análisis de gastos</h4>
                        <p class="kb-bl-color">Conocé como manejar tu plata.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>