<div _ngcontent-bbw-c2="" class="section section-koban">
    <h1 class="info-title" style="margin-left: 30px;">
        Mirá todo lo que <br>
        podés hacer con Koban</h1>
    <div _ngcontent-bbw-c2="" class="container">
        <div _ngcontent-bbw-c2="" class="row justify-content-center">
            <div _ngcontent-bbw-c2="" class="col-md-5 menu inner-img" data-animation="center" data-aos="fade-up"
                data-aos-duration="3000">
                <a [routerLink]="['/card-page']">
                    <div _ngcontent-bbw-c2="" class="info">
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title"> Tarjeta</h4>
                            <p _ngcontent-bbw-c2="">Una tarjetas para todos y para todo. Lorem Ipsum es simplemente
                                el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el </p>
                        </div>
                        <div _ngcontent-bbw-c2="" class="inner-img fl_right mb">
                            <img src="assets/img/koban_icons/credit-card.png" width="80px"
                                alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 menu inner-img" data-animation="center" data-aos="fade-up"
                data-aos-duration="3000">
                <a [routerLink]="['/qr-page']">
                    <div _ngcontent-bbw-c2="" class="info">
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title"> QR PAGE </h4>
                            <p _ngcontent-bbw-c2="">Paga con codigo Qr. Lorem Ipsum es simplemente
                                el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el</p>
                        </div>
                        <div _ngcontent-bbw-c2="" class="inner-img fl_right mb">
                            <img src="assets/img/koban_icons/qr-code.png" width="80px"
                                alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 menu inner-img" data-animation="center" data-aos="fade-up"
                data-aos-duration="3000">
                <a [routerLink]="['/billpayment-page']">
                    <div _ngcontent-bbw-c2="" class="info">
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title"> Pago de facturas, recargas y subscripciones
                            </h4>
                            <p _ngcontent-bbw-c2="">Haz recargas a celular paga el gas, Lorem Ipsum es simplemente
                                el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el</p>
                        </div>
                        <div _ngcontent-bbw-c2="" class="inner-img fl_right mb">
                            <img src="assets/img/koban_icons/billpayment.png" width="80px"
                                alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 menu inner-img" data-animation="center" data-aos="fade-up"
                data-aos-duration="3000">
                <a [routerLink]="['/transfer-page']">
                    <div _ngcontent-bbw-c2="" class="info">
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title"> Transferencias </h4>
                            <p _ngcontent-bbw-c2="">Speed up your development time or get inspired with the large number
                                of
                                example pages. You can jump start your development with our pre-built example pages.</p>
                        </div>
                        <div _ngcontent-bbw-c2="" class="inner-img fl_right mb">
                            <img src="assets/img/koban_icons/transfer.png" width="80px"
                                alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div> 
        <div class="row justify-content-center">
            <div _ngcontent-bbw-c2="" class="col-md-3 menu inner-img" data-animation="center" data-aos="fade-up"
                data-aos-duration="3000">
                <a [routerLink]="['/investments-page']">
                    <div _ngcontent-bbw-c2="" class="info">
                        <div _ngcontent-bbw-c2="" class="icon ">
                            <img src="assets/img/koban_icons/investment.png" width="100px"
                                alt="">
                        </div>
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title"> Inversiones </h4>
                            <p _ngcontent-bbw-c2="" class="description">Speed up your development time or get inspired with the large number
                                of
                                example pages. You can jump start your development with our pre-built example pages.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div _ngcontent-bbw-c2="" class="col-md-3 menu inner-img" data-animation="center" data-aos="fade-up"
                data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info">
                    <div _ngcontent-bbw-c2="" class="icon ">
                        <img src="https://www.uala.com.ar/assets/images/cardImages/creditos.png" width="170px" alt="">
                    </div>
                    <div _ngcontent-bbw-c2="" class="description">
                        <h4 _ngcontent-bbw-c2="" class="info-title"> Préstamos </h4>
                        <p _ngcontent-bbw-c2="">Speed up your development time or get inspired with the large number of
                            example pages. You can jump start your development with our pre-built example pages.</p>
                    </div>
                </div>
            </div> -->
            <div _ngcontent-bbw-c2="" class="col-md-3 menu inner-img" data-animation="center" data-aos="fade-up"
                data-aos-duration="3000">
                <a [routerLink]="['/withdrawals-page']">
                    <div _ngcontent-bbw-c2="" class="info">
                        <div _ngcontent-bbw-c2="" class="icon ">
                            <img src="assets/img/koban_icons/cashout.png" width="100px"
                                alt="">
                        </div>
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title animation-element"> Retiros </h4>
                            <p _ngcontent-bbw-c2="">Speed up your development time or get inspired with the large number
                                of
                                example pages. You can jump start your development with our pre-built example pages.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-3 menu inner-img" data-animation="center" data-aos="fade-up"
                data-aos-duration="3000">
                <a [routerLink]="['/security-page']">
                    <div _ngcontent-bbw-c2="" class="info">
                        <div _ngcontent-bbw-c2="" class="icon ">
                            <img src="assets/img/koban_icons/internet-security.png" width="100px"
                                alt="">
                        </div>
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title animation-element"> Seguridad </h4>
                            <p _ngcontent-bbw-c2="">Speed up your development time or get inspired with the large number
                                of
                                example pages. You can jump start your development with our pre-built example pages.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div _ngcontent-bbw-c2="" class="col-md-3 menu inner-img" data-animation="center" data-aos="fade-up"
                data-aos-duration="3000">
                <a [routerLink]="['/security-page']">
                    <div _ngcontent-bbw-c2="" class="info">
                        <div _ngcontent-bbw-c2="" class="icon ">
                            <img src="https://www.uala.com.ar/assets/images/cardImages/uala-bis.png" width="170px"
                                alt="">
                        </div>
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title animation-element"> Seguridad </h4>
                            <p _ngcontent-bbw-c2="">Speed up your development time or get inspired with the large number
                                of
                                example pages. You can jump start your development with our pre-built example pages.</p>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>       
    </div>
</div>