<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title kb-tx-center kb-bl-color">Cargá tu Koban gratis. Es simple y rápido.</h2>
            </div>
        </div>
        <div _ngcontent-bbw-c2="" class="row justify-content-center">
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <img src="assets/img/koban_icons/money-transfer.png" class="kb-icon kb-icon-left" alt="">
                <h3 class="kb-bl-color kb-mt-2">Transferencias ACH</h3>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <img src="assets/img/koban_icons/cash.png" class="kb-icon kb-icon-left" alt="">
                <h3 class="kb-bl-color kb-mt-2 kb-ml-1">Efectivo</h3>
            </div>        
        </div>
    </div>
</div>

