<div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="container">
        <div class="row justify-content-center" style="text-align: center; flex-direction:column;" data-aos="fade-up"
        data-aos-duration="3000">
            <h2 _ngcontent-bbw-c2="" class="title blue-color">Cargá saldo para usar Koban</h2>
        </div>
        <div class="row row_elements justify-content-center" data-aos="fade-up"
            data-aos-duration="3000">
            <div class="col-md-5 elements">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3 margin">
                            <img src="assets/img/koban_icons/money-transfer.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9 margin">
                            <h3 class="blue-color">Transferencias ACH</h3> <br>
                        </div>                        
                    </div>
                </div>                
            </div>
            <div class="col-md-5 elements">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3 margin">
                            <img src="assets/img/koban_icons/cash.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9 margin">
                            <h3 class="blue-color">Efectivo</h3> <br>
                        </div>                        
                    </div>
                </div>                
            </div>                     
        </div>
    </div>
</div>


