<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#"><img class="img-koban" width="150px" alt=""></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="true"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div _ngcontent-hoj-c1="" class="collapse navbar-collapse">
            <ul _ngcontent-hoj-c1="" class="navbar-nav ml-auto">
                <div _ngcontent-hoj-c1="" class="nav-item dropdown" ngbdropdown="true">
                    <div _ngcontent-hoj-c1="" aria-haspopup="true"
                        class="nav-link dropdown-toggle dropdown-toggle" style="cursor:pointer" ngbdropdowntoggle="" aria-expanded="false">
                        Servicios</div>
                    <div _ngcontent-hoj-c1="" class="dropdown-menu dropdown-menu-right dropdown-primary"
                        ngbdropdownmenu="">
                        <div class="row">
                            <div class="col-md-6">
                                <a _ngcontent-hoj-c1="" class="dropdown-item" ngbdropdownitem=""
                                    [routerLink]="['/card-page']">
                                    <img src="assets/img/koban_icons/credit-card.png" width="25px" alt="">Tarjeta</a>
                            </div>

                            <div class="col-md-6">
                                <a _ngcontent-hoj-c1="" class="dropdown-item" ngbdropdownitem=""
                                    [routerLink]="['/qr-page']">
                                    <img src="assets/img/koban_icons/qr-code.png" width="20px"
                                        style="margin-right: 5px;" alt="">Qr</a>
                            </div>                            
                            <div class="col-md-6">
                                <a _ngcontent-hoj-c1="" class="dropdown-item" ngbdropdownitem=""
                                [routerLink]="['/billpayment-page']">
                                <img src="assets/img/koban_icons/billpayment.png" width="25px"
                                    style="margin-right: 5px;" alt="">Pagos</a>
                            </div>
                            <div class="col-md-6">
                                <a _ngcontent-hoj-c1="" class="dropdown-item" ngbdropdownitem=""
                                    [routerLink]="['/transfer-page']">
                                    <img src="assets/img/koban_icons/transfer.png" width="25px"
                                        style="margin-right: 5px;" alt="">Transferencias</a>
                            </div>
                            <div class="col-md-6">
                                <a _ngcontent-hoj-c1="" class="dropdown-item" ngbdropdownitem=""
                                [routerLink]="['/withdrawals-page']">
                                <img src="assets/img/koban_icons/cashout.png" width="25px"
                                    style="margin-right: 5px;" alt="">Retiros</a>
                            </div>
                        </div>
                       

                    </div>
                </div>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['about-us-page']" class="nav-link"> Sobre
                        Nosotros</a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
                        href="https://twitter.com/" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
                        href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
                        href="https://www.instagram.com/" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/waiting-list-page']" class="btn btn-info">Lista de Espera</a>
                </li>
            </ul>
        </div>
    </div>
</nav>