.navbar .navbar-nav .dropdown-menu {
  border-radius: 12px;
  margin-top: -25px;
  margin-right: -120px;
  width: 320% !important;
}

.btn-info {
  background-color: #0685ed !important;
  border-color: #0685ed;
}

.dropbtn {
  color: #fff;
  padding: 21px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border: none;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0px;
  border-radius: 10px;
  margin-top: -10px;
}

.dropdown-content a {
  color: #0685ed;
  padding: 12px 16px;
  text-decoration: none;
  border-color: #0685ed;
  display: block;
}

@keyframes MoveDown {
  0% {
    top: 10px;
  }
  20% {
    top: 30px;
  }
  40% {
    top: 50px;
  }
  60% {
    top: 70px;
  }
  100% {
    top: 80px;
  }
}

@keyframes MoveUp {
  0% {
    bottom: 10px;
  }
  20% {
    bottom: 30px;
  }
  40% {
    bottom: 50px;
  }
  60% {
    bottom: 70px;
  }
  100% {
    bottom: 80px;
  }
}



.dropdown-content a:hover {
  background-color: transparent;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: MoveDown 500ms ease-in-out forwards;
}
.dropdown:not(:hover) .dropdown-content {
  display: none;
  animation: MoveUp 500ms ease-in-out forwards;
}

.dropdown:hover .dropbtn {
  background-color: transparent;  
}