.navbar .navbar-nav .dropdown-menu {
    border-radius: 12px;
    margin-top: -25px;
    margin-right: -120px;
    width: 320%  !important;
}

.btn-info {
    background-color: #0685ed !important;
    border-color: #0685ed;
}
