<div class="d-flex flex-column justify-content-center w-100 h-100 selector">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Somos Koban</h2>
                    <p _ngcontent-bbw-c2="">Somos la fintech que te permite manejar todas tus finanzas desde una app y una tarjeta</p>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex" data-aos="zoom-out-down" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img
                        class="center" _ngcontent-bbw-c2="" width="400px"
                        src="assets/img/koban_img/about-us.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="container">
        <div class="row justify-content-center" style="text-align: center; flex-direction:column;">
            <h2 _ngcontent-bbw-c2="" class="title blue-color">¿En qué creemos?</h2>
                    <p _ngcontent-bbw-c2="" class="blue-color">Tenemos 5 pilares que nos guían en cada una de las decisiones que tomamos:</p>
        </div>
        <div class="row row_elements justify-content-center" data-aos="fade-up"
            data-aos-duration="3000">
            <div class="col-md-5 elements">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://www.uala.com.ar/assets/images/nosotros/Icono-mision.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3 class="blue-color">La misión</h3> <br>
                            <p class="blue-color">Nos motiva nuestro fin social de inclusión financiera.</p>
                        </div>                        
                    </div>
                </div>                
            </div>
            <div class="col-md-5 elements">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://www.uala.com.ar/assets/images/nosotros/Icono-compromiso.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3 class="blue-color">Enfocados en el usuario</h3> <br>
                            <p class="blue-color">Con la excelencia de nuestro trabajo, obsesionados con las necesidades de los clientes.</p>
                        </div>                        
                    </div>
                </div>                
            </div>
            <div class="col-md-5 elements">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://www.uala.com.ar/assets/images/nosotros/Icono-innovaci%C3%B3n.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3 class="blue-color">Innovación</h3> <br>
                            <p class="blue-color">Nos comprometemos a usar la mejor tecnología para crear el mejor producto.</p>
                        </div>                        
                    </div>
                </div>                
            </div>
            <div class="col-md-5 elements">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://www.uala.com.ar/assets/images/nosotros/Icono-confianza.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3 class="blue-color">Confianza</h3> <br>
                            <p class="blue-color">En el equipo que somos, para atraer y retener al mejor talento.</p>
                        </div>                        
                    </div>
                </div>                
            </div>
            <div class="col-md-5 elements">
                <div class="div-col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://www.uala.com.ar/assets/images/nosotros/Icono-transparencia.png" width="80px" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3 class="blue-color">Transparencia</h3> <br>
                            <p class="blue-color">Con integridad hacia adentro y, más allá, con clientes, inversores y la sociedad.</p>
                        </div>                        
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</div>


