<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-gradient">
    <div class="container kb-mt-11">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Somos Koban</h2>
                    <p _ngcontent-bbw-c2="" class="title">Somos la fintech que te permite manejar todas tus finanzas desde una app y una tarjeta.</p>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up"
                data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image" _ngcontent-bbw-c2=""
                        src="assets/img/koban_img/team-koban.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title kb-tx-center kb-bl-color">¿En qué creemos?</h2>
                <p class="kb-tx-center kb-bl-color">Tenemos 5 pilares que nos guían en cada una de las decisiones que tomamos:</p>
            </div>
        </div>
        <div _ngcontent-bbw-c2="" class="row justify-content-center">
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/koban_icons/mision.png" width="80px" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="title kb-bl-color">La misión</h4>
                        <p class="kb-bl-color">Nos motiva nuestro fin social de inclusión financiera.</p>
                    </div>                        
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/koban_icons/camera.png" width="80px" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="title kb-bl-color">Enfocados en el usuario</h4>
                        <p class="kb-bl-color">Con la excelencia de nuestro trabajo, obsesionados con las necesidades de los clientes.</p>
                    </div>                        
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/koban_icons/brain.png" width="80px" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="title kb-bl-color">Innovación</h4>
                        <p class="kb-bl-color">Nos comprometemos a usar la mejor tecnología para crear el mejor producto.</p>
                    </div>                        
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/koban_icons/trust.png" width="80px" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="title kb-bl-color">Confianza</h4>
                        <p class="kb-bl-color">En el equipo que somos, para atraer y retener al mejor talento.</p>
                    </div>                        
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-5 d-flex kb-elements" data-aos="fade-up" data-aos-duration="3000">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/koban_icons/transparency.png" width="80px" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="title kb-bl-color">Transparencia</h4>
                        <p class="kb-bl-color">Con integridad hacia adentro y, más allá, con clientes, inversores y la sociedad.</p>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>