<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-gradient">
    <div class="container kb-mt-11">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Créditos pensados <br> para vos</h2>
                    <p _ngcontent-bbw-c2="" class="title">Te ofrecemos más crédito para lo que necesites de la forma más fácil, rápida y transparente.</p>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image" _ngcontent-bbw-c2="" src="https://www.uala.com.ar/_next/image?url=%2Fassets%2Fimages%2Fprestamos%2Fhero-creditos.jpg&w=1920&q=75">
                </div>
            </div>
        </div>
    </div>
</div>

<app-loans-simulation></app-loans-simulation>