<div _ngcontent-bbw-c2="" class="section section-content selection-koban">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-7">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Una tarjeta para <br> tod@s y para todo</h2>
                    <h6 _ngcontent-bbw-c2="" class="category">Comprá en cualquier comercio o página
                        web del mundo que acepte Mastercard.</h6>
                    <h5 _ngcontent-bbw-c2="" class="description">Recordá: <br>
                        Si aceptan Mastercard, aceptan Koban.</h5>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-4 d-flex" data-aos="zoom-out-down" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img class="center"
                        _ngcontent-bbw-c2="" src="assets/img/koban_img/card-page-img1.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-12 selection-koban_section">
            <h2 _ngcontent-bbw-c2="" class="title" data-aos="fade-up" data-aos-duration="3000" style="text-align: center;">Gasta con estilo con tu <br>
                Tarjeta Koban</h2>
            <h5 _ngcontent-bbw-c2="" class="description" data-aos="fade-up" data-aos-duration="3000" style="text-align: center;">Nuestras elegantes tarjetas Koban están bellamente diseñadas para adaptarse a su plan y estilo de vida. Elija su plan y solicite una tarjeta física gratuita para una entrega rápida. Empiece a gastar de inmediato con una tarjeta virtual.
            </h5>
        </div>
        <!-- <div class="col-md-6 section-card" >
            <img width="400px" class="center" data-aos="zoom-out-down" data-aos-duration="3000"
                src="assets/img/koban_img/card-koban-green.jpeg"
                alt="">
        </div> -->
    </div>
</div>
<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row content">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="assets/img/koban_img/virtual-card.png"
                      ></div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-lg-6 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h2 _ngcontent-bbw-c2="" class="title blue-color">Crear una tarjeta virtual</h2>  
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">Una tarjeta prepaga Mastercard internacional diseñada para tener la mejor experiencia de compra.</h5>
                    </div>       
                    <div class="row content">
                        <div class="col-lg-2">
                            <img src="assets/img/koban_icons/card-sale.png" width="50px" alt="">
                        </div>          
                        <div class="col-lg-9 content">
                            <p class="description blue-color">Al registrarte contarás con una tarjeta digital para hacer compras online.</p>
                        </div>
                    </div>
                    <div class="row content">
                        <div class="col-lg-2">
                            <img src="assets/img/koban_icons/chip-card.png" width="50px" alt="">
                        </div>          
                        <div class="col-lg-9">
                            <p class="description blue-color">Con chip, para que tu información esté más protegida que nunca.</p>
                        </div>
                    </div>
                    <div class="row content">
                        <div class="col-lg-2">
                            <img src="assets/img/koban_icons/contactless-payment.png" width="50px" alt="">
                        </div>          
                        <div class="col-lg-9">
                            <p class="description blue-color">Con tecnología contactless para que tus compras sean mucho más seguras.</p>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
<app-features></app-features>
<app-cashin-card></app-cashin-card>
<app-security></app-security>