<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-image">
    <div class="container kb-mt-20">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Una tarjeta para <br> tod@s y para todo</h2>
                    <p _ngcontent-bbw-c2="" class="title">Comprá en cualquier comercio o página
                        web del mundo que acepte Mastercard.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image" _ngcontent-bbw-c2="" src="assets/img/koban_img/card-koban.png">
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title kb-bl-color">La tarjeta</h2>
                    <p _ngcontent-bbw-c2="" class="category kb-bl-color">Una tarjeta prepaga Mastercard internacional diseñada para tener la mejor experiencia de compra.</p>
                </div>
                <div class="row kb-content" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-lg-2">
                        <img src="assets/img/koban_icons/card-sale.png" width="50px" alt="">
                    </div>          
                    <div class="col-lg-9 kb-content">
                        <p class="description kb-bl-color">Al registrarte contarás con una tarjeta digital para hacer compras online.</p>
                    </div>
                </div>
                <div class="row kb-content" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-lg-2">
                        <img src="assets/img/koban_icons/chip-card.png" width="50px" alt="">
                    </div>          
                    <div class="col-lg-9">
                        <p class="description kb-bl-color">Con chip, para que tu información esté más protegida que nunca.</p>
                    </div>
                </div>
                <div class="row kb-content" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-lg-2">
                        <img src="assets/img/koban_icons/contactless-payment.png" width="50px" alt="">
                    </div>          
                    <div class="col-lg-9">
                        <p class="description kb-bl-color">Con tecnología contactless para que tus compras sean mucho más seguras.</p>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>
<app-features></app-features>
<app-cashin></app-cashin>
<app-security></app-security>