<div class="d-flex flex-column justify-content-center w-100 h-100 selector">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Conocé como manejar tu plata</h2>
                    <p _ngcontent-bbw-c2="" class="title">Todos tus consumos se agrupan automáticamente por categorías para que los puedas analizar de forma mensual o anual.</p>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex" data-aos="zoom-out-down" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img
                        class="center" _ngcontent-bbw-c2="" width="450px"
                        src="https://www.uala.com.ar/_next/image?url=%2Fassets%2Fimages%2Fgastos%2Fanalisis-de-gastos.jpg&w=1920&q=75">
                </div>
            </div>
        </div>
    </div>
</div>
<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">    
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="assets/img/koban_img/cash_control.png"
                      ></div>
            </div>        
            <div _ngcontent-bbw-c2="" class="col-lg-5 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h2 _ngcontent-bbw-c2="" class="title blue-color">Mirá el detalle de tus consumos</h2>
                        <h5 _ngcontent-bbw-c2="" class="category blue-color"> Cada vez que pagás con tu Koban te llega una notificación en vivo y el consumo se categoriza para que puedas ver más claro en qué gastaste.
                            </h5>
                    </div>                 
                </div>               
            </div>            
        </div>
    </div>
</div>