<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-gradient">
    <div class="container kb-mt-11">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Conocé como manejar tu plata</h2>
                    <p _ngcontent-bbw-c2="" class="title">Todos tus consumos se agrupan automáticamente por categorías para que los puedas analizar de forma mensual o anual.</p>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image" _ngcontent-bbw-c2="" src="https://www.uala.com.ar/_next/image?url=%2Fassets%2Fimages%2Fgastos%2Fanalisis-de-gastos.jpg&w=1920&q=75">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                    <img class="kb-image" _ngcontent-bbw-c2="" src="assets/img/koban_img/cash_control.png">
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title kb-bl-color">Mirá el detalle de tus consumos</h2>
                    <p _ngcontent-bbw-c2="" class="category kb-bl-color">Cada vez que pagás con tu Koban te llega una notificación en vivo y el consumo se categoriza para que puedas ver más claro en qué gastaste.</p>
                </div>
            </div>           
        </div>
    </div>
</div>