<div class="d-flex flex-column justify-content-center w-100 h-100 kb-selector-white">
    <div class="container kb-mt-5">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title kb-bl-color">Crearse una cuenta <br> nunca había sido tan sencillo.</h2>
                    <p _ngcontent-bbw-c2="" class="category kb-bl-color">Obten la tarjeta Koban gratis y sin demoras.</p>
                    <p class="kb-bl-color">Nuestro proceso de apertura es totalmente digital y seguro. Sin visitas a una sucursal, sin depósitos, sin papeleos, sin vueltas . Todo lo que necesitas es una dirección de correo electrónico, un número de teléfono y un documento de identidad como tu cédula de identidad.</p>
                </div>
            </div> 
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex kb-image-container" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="">
                    <img class="kb-image kb-image-medium" _ngcontent-bbw-c2="" src="assets/img/koban_img/account-koban.png">
                </div>
            </div>                      
        </div>
    </div>
</div>