
.main-card {
    margin-top: 10%;
}

img{
    margin-bottom: 30px;
}
.row_elements{
    margin-top: 20px;
}
.elements{
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0px 5px 24px 6px rgba(62,107,253,0.1);
}
.blue-color{
    color: #0685ed;
}
.green-color{
    color: #03bcbe;
}

.center{
	width: 60%;
}
.selector {
	background: linear-gradient(-45deg, #0685ed, #03bcbe, #00f498, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
