<div class="d-flex flex-column justify-content-center w-100 h-100 selector">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h2 _ngcontent-bbw-c2="" class="title">Transferí y recibí <br> plata de tod@s</h2>
                    <h6 _ngcontent-bbw-c2="" class="title">Enviá y recibí plata desde cualquier cuenta <br> bancaria y/o virtual, gratis y en el acto.</h6>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6 d-flex" data-aos="zoom-out-down" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img
                        class="center" _ngcontent-bbw-c2="" width="450px"
                        src="https://www.uala.com.ar/_next/image?url=%2Fassets%2Fimages%2Ftransferencias%2FHero_transferencias.jpg&w=1200&q=75">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="container">
        <div class="row row_elements justify-content-center" style="flex-wrap:nowrap" data-aos="fade-up"
            data-aos-duration="3000">
            <div class="col-md-4 elements green-color">
                <img src="https://www.uala.com.ar/assets/images/transferencias/transferencias%201.png" width="100px" alt="">
                <h5>Transferencias entre usuarios</h5>
                <hr>
                <p class="blue-color">Podés recibir o mandar plata a tus amig@s o familiares que tienen Koban. Buscá su nombre de usuario en la sección “Transferencias” o escaneá el código de QR desde su app. Es gratis e instantáneo.</p>
            </div>
            <div class="col-md-4 elements green-color">
                <img src="https://www.uala.com.ar/assets/images/transferencias/SPEI%201.png" width="100px" alt="">
                <h5>Transferencias a cuentas bancarias y/o virtuales</h5>
                <hr>
                <p class="blue-color">Podés recibir transferencias desde cualquier cuenta bancaria y/o virtual a tu CVU de Ualá. También podés mandar plata a otras cuentas desde la sección “Transferencias” de la app.</p>
            </div>
            <div class="col-md-4 elements green-color">
                <img src="https://www.uala.com.ar/assets/images/transferencias/SPEI%202.png" width="100px" alt="">
                <h5>Clave de seguridad</h5>
                <hr>
                <p class="blue-color">Para hacer transferencias desde la app de Ualá necesitás la clave de 6 dígitos o clave de seguridad que creaste cuando validamos tu usuario. Si te la olvidaste podés recuperarla haciendo click en “Olvidé mi clave” antes de confirmar la transferencia o movimiento de plata.</p>
            </div>
        </div>
    </div>
</div>